html,
body {
    position: absolute;

    height: 100%;
    width: 100%;
}

.App {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}
